* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: #161624;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 220px;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 400;
}
@media screen and(min-width:768px) {
  .heading {
    font-size: 30px;
  }
}
.countries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: #1f1f2f;
  max-height: 500px;
  overflow: auto;
  border-radius: 10px;
}
.no-countries {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and(min-width:768px) {
  .no-countries {
    font-size: 26px;
  }
}
.countries {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.heading-two {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: bold;
}
@media screen and(min-width:768px) {
  .heading-two {
    font-size: 22px;
  }
}
